{{ if request.function == 'edit' and request.args(1) == 'edit_exercise': }}
	{{
	form = SQLFORM(db.course_exercise, db.course_exercise(request.args(2)), fields=['exercise', 'start_date', 'end_date'])
	if form.process().accepted:
		session.flash = 'Changed Exercise'
		redirect(URL(request.function + '/' + request.args(0)))
	pass
	}}
	{{= form }}
{{ else: }}
	{{ if request.function == 'edit' and request.args(1) == 'add_exercise': }}
		{{
		if 'add_exercise_submit' in request.vars:
			import re
			start = request.vars['start_date']
			end   = request.vars['end_date']
			if re.compile('^\d{4}(-\d{1,2}){2} \d{2}(:\d{2}){2}$').match(start) and re.compile('^\d{4}(-\d{1,2}){2} \d{2}(:\d{2}){2}$').match(end):
				db.course_exercise.insert(
					course=request.args(0),
					exercise=request.vars['exercise'],
					start_date=start,
					end_date=end
				)
			else:
				session.flash = 'Check the dates!'
			pass
			redirect(URL(request.application, request.controller, request.function + '/' + '/'.join(request.args)))
		pass

		exercises_in_this_course = db(db.course_exercise.course == request.args(0))._select(db.course_exercise.exercise)
		exercises_not_in_this_course = db(~db.exercise.id.belongs(exercises_in_this_course)).select(db.exercise.ALL, orderby=(db.exercise.language, db.exercise.name))
		exercise_select = SELECT([OPTION(row.language.name, ': ', row.name, _value=row.id) for row in exercises_not_in_this_course], _name='exercise')

		startDateID = 'startdatetime'
		dueDateID = 'duedatetime' 

		add_exercise_form = FORM(TABLE( 
									TR(
										TD(LABEL(T('Exercise'))),
										TD(exercise_select)
									),
									TR(
										TD(LABEL(T('Start Date'))),
										TD(INPUT(_class='datetime', _type='text', _name='start_date', _id=startDateID))
									),
									TR(
										TD(LABEL(T('Due Date'))),
										TD(INPUT(_class='datetime', _type='text', _name='end_date', _id=dueDateID))
									),
									TR(
										TD(),
										TD(INPUT(_type='submit', _value=T('Submit'), _name='add_exercise_submit'))
									)
								), _method='post'
							)
		}}
		{{ if len(exercises_not_in_this_course) > 0: }}
			<script type="text/javascript">
				console.log(window.dateFields);
				window.dateFields.push('{{=startDateID}}');
				window.dateFields.push('{{=dueDateID}}');
			</script>
			{{
			add_exercise_form.add_class('inlineform');
			}}
			{{= add_exercise_form }}
		{{ else: }}
			<em>All Exercises added!</em>
		{{pass}}
	{{ elif request.function == 'edit': }}
	<nav class="actions">
		<a class="w2p_trap button btn" href="/{{= request.application }}/{{= request.controller }}/{{= request.function }}/{{= request.args(0) }}/add_exercise">
			<span class="icon plus icon-plus"></span>
			<span class="buttontext button" title="{{=T('Add')}}">{{=T('Add')}}</span>
		</a>
	</nav>
	{{ pass }}

	{{ if len(exercises) > 0: }}
		{{ import datetime }}
		<table class="inlineform">
			<thead>
				<tr>
					<th>{{= T('#') }}</th>
					<th>{{= T('Exercise') }}</th>
					<th>{{= T('Start Date') }}</th>
					<th>{{= T('End Date') }}</th>
					<th>{{= T('Description') }}</th>
				{{ if request.function == 'edit': }}
					<td></td>
				{{ pass }}
				</tr>
			</thead>
			<tbody>
			{{ n = 0 }}
			{{ for row in exercises: }}
				{{ n += 1 }}
				<tr{{= " class=inactive" if row.end_date < datetime.datetime.now() else '' }}>
					<td>{{= n }}</td>
					<td><a href="/{{= request.application }}/default/index?exercise={{= row.id }}">{{= row.exercise.name }}<a></td>
					<td>{{= row.start_date.strftime( T( '%A, %d %b %Y at %H:%M', lazy=False ) ) }}</td>
					<td>{{= row.end_date.strftime( T( '%A, %d %b %Y at %H:%M', lazy=False ) ) }}</td>
					<td>{{= row.exercise.text[:55] }}…</td>
				{{ if request.function == 'edit': }}
					<td>
						<a class="w2p_trap button btn" href="/{{= request.application }}/{{= request.controller }}/{{= request.function }}/{{= request.args(0) }}/edit_exercise/{{= row.id }}">
							<span class="icon pen icon-pencil"></span>
							<span class="buttontext button" title="{{= T('Edit') }}">{{= T('Edit') }}</span>
						</a>
					</td>
				{{ pass }}
				</tr>
			{{ pass }}
			</tbody>
		</table>
	{{ else: }}
		<p><em>{{= T('No exercises in this course') }}</em></p>
	{{ pass }}

{{ pass }}