{{extend 'layout.html'}}
{{

  response.files.insert(2, URL('static', 'js/jquery-ui.js'))
  response.files.insert(2, URL('static', 'css/jquery-ui.css'))

  response.files.insert(2, URL('static', 'js/ide.js'))
  response.files.insert(2, URL('static', 'js/coding.js'))
  response.files.insert(0, URL('static', 'codemirror/lib/codemirror.js'))
  response.files.insert(0, URL('static', 'codemirror/lib/codemirror.css'))
  response.files.insert(2, URL('static', 'codemirror/mode/python/python.js'))
  # include for autocompletion

  response.files.insert(3, URL('static', 'codemirror/addons/python-hint.js')) 
  response.files.insert(3, URL('static', 'codemirror/lib/util/simple-hint.js'))
  response.files.insert(3, URL('static', 'codemirror/lib/util/simple-hint.css'))
  

  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/blackboard.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/elegant.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/neat.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/rubyblue.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/ambiance-mobile.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/cobalt.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/erlang-dark.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/night.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/vibrant-ink.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/xq-dark.css">
  # <link rel="stylesheet" type="text/css" href="../static/codemirror/theme/eclipse.css">
  

  # these are the most beautiful
  response.files.insert(2, URL('static', 'codemirror/theme/monokai.css'))
  response.files.insert(2, URL('static', 'codemirror/theme/twilight.css'))
  response.files.insert(2, URL('static', 'codemirror/theme/ambiance.css'))
  
  response.files.insert(2, URL('static', 'js/ide.commands.js'))
  response.files.insert(2, URL('static', 'js/terminal.js'))

  response.include_files()
}}

{{ if auth.user_id: }}
  <div id="codingsohard">
  </div>
{{ else: }}
  <div>
    <h2>{{=T('The idea behind PythonCheck')}}</h2>
    <div id="showcase">
      <div class="col">
        
        <div class="imagewrap">
          <img src="{{=URL('static', 'images/code.png')}}">
        </div>

        <h4>{{=T('Step 1:')}}</h4>
        <p>
          {{=T('Write your code online or easily import your existing files')}}
        </p>

      </div>
      <div class="col">
        
        <div class="imagewrap">
          <img src="{{=URL('static', 'images/console.png')}}">
        </div>

        <h4>{{=T('Step 2:')}}</h4>
        <p>
          {{=T('Compile the code online to either test it or to submit it to an exercise. If there are any errors, we\'ll show you what is wrong!')}}
        </p>
        
      </div>
      <div class="col">
        
        <div class="imagewrap">
          <img src="{{=URL('static', 'images/aplus.png')}}">
        </div>

        <h4>{{=T('Step 3:')}}</h4>
        <p>
          {{=T('Look at your grades and errors to become an even better programmer!')}}
        </p>
        
      </div>
    </div>
  </div>
{{pass}}


<!-- {{=A(T("Administrative Interface"), _href=URL('admin','default','index'), _class='btn', _style='margin-top: 1em;')}} -->

