@charset "utf-8";

$baseURL: '/PythonCheck/static/images/';
$tabHeight: 40px;

$backgroundColor: #5B5B5B;
$fontColor: #FFF;
$linkColor: $fontColor;

$headerColor: #404040;
$headerHeight: 40px;

$promptWidth: 40px;
$promptPaddingLeft: 15px;
$cmdHeight: 21px;

$successMessageColor: rgb(118, 184, 42);
$errorMessageColor: rgb(255, 0, 0);
$outputMessageColor: $fontColor;

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	width: 100%;
}
body {
	font-size: 16px;
	line-height: 20px; 
	font-family: "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
	background-color: $backgroundColor;
	margin: 0;
	padding: 0;
	color: $fontColor;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 1em;
	padding-right: 15px;
	padding-left: 15px;

}

ul {
	padding-left: 40px;
}

a img {
	border: none;
}

a:link, a:visited {
	color: $linkColor;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

header {
	background-color: $headerColor;
	height: $headerHeight;

	#navlist {
		float: right;
		margin: 0 0 0 15px;

		li {
			float: left;
			list-style-type: none;
			height: $headerHeight;

			a {
				display: inline-block;
				color: #FFF;
				padding: 10px;
				text-decoration: none;

				&:hover {
					background-color: #141529;
				}
			}
		}
	}

	& > * {
		margin: 10px;
	}

	p {
		&#user {
			float: left;

			a {
				color: #FFF
			}
		}

		&.flash {
			float: left;
		}
	}
}

.content {
	background-color: #404040;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	position: absolute;
	top: 70px;
	bottom: 70px;
	left: 20px;
	right: 20px;
	padding: 20px;
	overflow-y: scroll;
}

footer {
	width: 100%;
	background-color: #161915;
	position: fixed;
	height: 40px;
	padding: 0;
	bottom: 0;

	.legal {
		margin: 5px 0px 0px 5px;
		float: left;
	}

	#console {
		overflow: hidden;
		width: 40px;
		height: 40px;
		background-color: #000;
		float: right;
		position: absolute;
		right: 0px;

		#closeTrigger {
			display: none;
			width: $promptWidth;
			height: 21px;
		}

		.prompt {
			width: $promptWidth;
			float: left;
			height: 200px;
			position: absolute;
			bottom: 0px;

			pre {
				position: absolute;
				bottom: 0px;
				width: $promptWidth - $promptPaddingLeft;
				padding-left: $promptPaddingLeft;
				height: 40px;
				margin: 0px;
				line-height: 40px;

			}
		}
		.output {
			height: 200px - $cmdHeight;
			position: absolute;
			bottom: $cmdHeight;
			left: $promptWidth;
			padding-left: 20px;
			overflow: scroll;

			.successMessage {
				color: $successMessageColor;
			}

			.errorMessage {
				color: $errorMessageColor;
			}

			.outputMessage {
				color: $outputMessageColor;
			}

		}

		.cmd {
			height: $cmdHeight;
			position: absolute;
			left: $promptWidth;
			bottom: 0px;
			right: 0px;

			input {
				position: absolute;
				display: block;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				background-color: #000;
				outline: none;
				color: #FFF;
			}
		}
	}
}	

#codingsohard {
	background-color: #AAA;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;

	nav {
		height: 40px;
		width: 100%;
		background-color: #FFF; 

		a {
			display: block;
			width: auto;
			height: 20px;
			max-width: 200px;
			background-color: #FFF;
			float: left;
			padding: 10px;
			text-decoration: none;
			color: #000;

			&:hover, 
			&:focus {

			}

			&.active {
				background-color: #CCC; 
			}

			img.loading {
				padding-left: 5px;
				position: relative;
				top: 2px;
			}
		}
	}

	

	.files {
		position: absolute;
		height: 100%;
		bottom: 0px;
		top: 0px;
		left: 100%;
		right: 0px;
		width: 250px;
		margin-top: 80px;
		background-color: #AAA; 

		
	}

	.menu {
		height: 40px;
		width: auto;
		background-color: #EEE; 

		.listtrigger {
			float: right; 
		}
	}

	.code {
		position: absolute;
		bottom: 0px;
		top: 80px;
		left: 0px;
		right: 0px;
		background-color: #333; 
		height: auto;

	}
	
	section.filelist ul {
		color: #000;
		list-style-image: url($baseURL + 'bullet.png')
	}
}