@charset "utf-8";

$baseURL: '/PythonCheck/static/images/';
$tabHeight: 40px;

$brandColor: #888;
$backgroundColor: #5B5B5B;
$contentColor: #404040;
$accentColor: #505050;
$fontColor: #FFF;
$inactiveFontColor: #CCC;
$linkColor: $fontColor;
$footerTextColor: #606060;

$headerColor: #404040;
$headerHeight: 40px;

$promptWidth: 40px;
$promptPaddingLeft: 15px;
$cmdHeight: 40px;

$successMessageColor: rgb(118, 184, 42);
$errorMessageColor: rgb(255, 0, 0);
$outputMessageColor: $fontColor;

$formFocusOutlineColor: $successMessageColor;
$formTextfieldWidth: 200px;
$formTextAreaWidth: 300px;
$tableWidth: 80%;

/*
MIXINS
*/
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-khtml-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin verticalGradient($from, $to) {
	background: $from; /* Old browsers */
	background: -moz-linear-gradient(top,  $from 0%, $to 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $from 0%,$to 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $from 0%,$to 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  $from 0%,$to 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $from 0%,$to 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$from, endColorstr=$to,GradientType=0 ); /* IE6-9 */
}

* {
	margin: 0px;
	padding: 0px;
}

html {
	height: 100%;
	width: 100%;
}

body {
	font-size: 16px;
	font-family: "MyriadPro-Regular", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
	//background-color: $backgroundColor;
	@include verticalGradient($backgroundColor, #707070);
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	margin: 0;
	padding: 0;
	color: $fontColor;
	height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 1em;
	padding-right: 15px;
	padding-left: 15px;
}

h1, h2 {
	margin-bottom: 2em;
}

ul {
	padding-left: 40px;
}

a img {
	border: none;
}

table {
	td {
		padding: 5px;	
	}

	td.ellipsis {
		white-space: nowrap;
		width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

a:link, a:visited {
	color: $linkColor;
	text-decoration: none;
}

a:hover, a:active, a:focus {
	text-decoration: underline;
}

a.inactive {
	color: $inactiveFontColor;
}

header {
	background-color: $headerColor;
	height: $headerHeight;

	#brand {
		margin: 0px;
		float: left;
		display: block;
		font-size: 1.1em;
		color: $brandColor;
		padding: 10px;
		padding-right: 20px;
		padding-left: 20px;
		text-decoration: none;

		&:hover {
			color: #FFF;
		}
	}

	#navlist {
		float: right;
		margin: 0 0 0 15px;

		li {
			float: left;
			list-style-type: none;
			height: $headerHeight;

			a {
				display: inline-block;
				color: #FFF;
				padding: 10px;
				text-decoration: none;

				&:hover {
					background-color: #141529;
				}
			}
		}
	}

	& > * {
		margin: 10px;
	}

	p {
		&#user {
			float: left;

			a {
				color: #FFF
			}
		}

		&.flash {
			float: left;
		}
	}
}

.content {
	background-color: $contentColor;
	@include border-radius(5px);
	position: absolute;
	top: 70px;
	bottom: 70px;
	left: 20px;
	right: 20px;
	padding: 20px;
	overflow-y: auto;

	/* breadcrumb */
	h2:first-child ~ nav,
	nav.actions {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		border-bottom: 1px solid $accentColor;
		background-color: $backgroundColor;
		@include border-radius(5px);

		a {
			display: inline-block;
		}
	}

	nav.actions {
		width: $tableWidth;
	}

	#showcase {
		width: 100%;
		height: 100%;

		.col {
			margin-left: 6%;
			margin-right: 6%;
			width: 20%;
			float: left;
			height: 100%;

			.imagewrap {
				overflow: hidden;
				width: 100%;
				height: 100px;
				margin: 0px auto;
				background-color: #000;

				@include border-radius(10px);
			}

			h4 {
				margin-top: 20px;
				margin-bottom: 20px;
			}
		}

		
	}

	h2 {
		text-align: center;
		font-weight: normal;
	}

	form {
		table {
			margin: 0px auto;
			width: auto;

			tr {

				td {
					padding: 5px;

					&:first-child {
						padding-right: 20px;
					}

					

					div.error_wrapper {
						position: relative;
						left: $formTextfieldWidth + 20px;
						top: -20px;
						height: 0px;
					}
				}
			}

			td.w2p_fc {
				display: none;
			}
		}

		input {
			padding: 4px;
		}

		input[type='text'],
		input[type='password'],
		input[type='email'],
		textarea {
			width: $formTextfieldWidth;
			border: 1px solid;
			outline: none;

			&:focus {
				outline-style: auto; 
				outline-color: $formFocusOutlineColor;
				outline-width: 5px;
			}

			&.invalidinput {
				outline-style: auto;
				outline-color: $errorMessageColor;
				outline-width: 5px;
			}
		}

		textarea {
			width: $formTextAreaWidth;
			padding: 2px;
		}
	}

	table {
		margin-bottom: 20px;
		border-collapse: collapse;
		border-spacing: 0px;
		border: none;
		text-align: left;

		//centering table
		margin-left: auto;
		margin-right: auto;
		width: $tableWidth;

		thead {
			background-color: $accentColor;
			th {
				padding: 5px;
			}
		}

		tbody ~ tbody {
			border-top-width: 1px;
			border-top-style: solid;
			border-top-color: #FFF;
		}

		tbody {
			td:last-child {
				text-align: right;
			}
		}

		&.inlinetable {
			margin-left: 0px;
			margin-right: 0px;
			width: auto;
		}
	}

	form.inlineform {
		@extend form;
		@extend table;
		@include border-radius(5px);
		background-color: $accentColor;
		padding: 10px;
	}

	section {
		border-bottom-width: 2px;
		border-bottom-style: solid;
		border-bottom-color: $accentColor;
		margin-bottom: 10px;

		&#main {
			border-bottom: none;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	input[type="submit"],
	a.button {
		background-color: $contentColor;
		color: $fontColor;
		border-width: 1px;
		border-style: solid;
		border-color: $fontColor;
		padding: 5px;
		margin: 5px;
		font-size: 13px;
		cursor: pointer;
		@include border-radius(5px);
	}

	/* for items placed after action-buttons, such as tables after an 'Add' button */
	a.button ~ table {
		margin-top: 20px;
	}

	*.replace {

		/* for elements replacing emtpy tables */
		&.table {
			@extend table
		}
	}

}

footer {
	width: 100%;
	background-color: #161915;
	position: fixed;
	height: 40px;
	padding: 0;
	bottom: 0;

	.legal,
	nav.footerLinks {
		margin: 10px 0px 0px 5px;
		float: left;
		font-size: .9em;
		color: $footerTextColor;
	}

	a, a:link, a:visited {
		color: $footerTextColor;
		padding-right: 20px;
	}

	a:hover, a:active, a:focus {
		color: $linkColor;
		text-decoration: none;
	}

	#console {
		overflow: hidden;
		width: 40px;
		height: 40px;
		background-color: #000;
		float: right;
		position: absolute;
		right: 0px;

		#closeTrigger {
			display: none;
			width: $promptWidth;
			height: 21px;
			padding: 5px;
			text-transform: uppercase;
			position: relative;
			top: 5px;
		}

		.prompt {
			width: $promptWidth;
			float: left;
			height: 200px;
			position: absolute;
			bottom: 0px;

			pre {
				position: absolute;
				bottom: 0px;
				width: $promptWidth - $promptPaddingLeft;
				padding-left: $promptPaddingLeft;
				height: 40px;
				margin: 0px;
				line-height: 40px;

			}
		}
		.output {
			height: 200px - $cmdHeight;
			position: absolute;
			bottom: $cmdHeight;
			left: $promptWidth;
			right: 0px;
			padding-left: 20px;
			overflow: auto;
			font-family: 'Courier New', monospace;

			.successMessage {
				color: $successMessageColor;
			}

			.errorMessage {
				color: $errorMessageColor;
			}

			.outputMessage {
				color: $outputMessageColor;
			}

		}

		.cmd {
			height: $cmdHeight;
			position: absolute;
			left: $promptWidth;
			bottom: 0px;
			right: 0px;

			input {
				border: none;
				position: absolute;
				display: block;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				background-color: #000;
				outline: none;
				color: #FFF;
				height: 100%;
			}
		}
	}
}	

#codingsohard {
	background-color: #AAA;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;

	nav {
		height: 40px;
		width: 100%;
		background-color: #FFF; 

		a {
			display: block;
			width: auto;
			height: 20px;
			max-width: 200px;
			background-color: #FFF;
			float: left;
			padding: 10px;
			text-decoration: none;
			color: #000;
			cursor: default;

			&:hover, 
			&:focus {

			}

			&.active {
				background-color: #CCC; 
			}

			img.loading {
				padding-left: 5px;
				position: relative;
				top: 2px;
			}

			.close {
				display: inline-block;
				background-image: url($baseURL + 'icons/close.png');
				width: 14px;
				height: 14px;
				margin-left: 4px;
				position: relative;
				top: 2px;

			}
		}
	}

	

	.files {
		position: absolute;
		height: 100%;
		bottom: 0px;
		top: 0px;
		left: 100%;
		right: 0px;
		width: 250px;
		margin-top: 80px;
		background-color: #AAA;

		a {
			cursor: default;
			display: block;
		}

		
	}

	.menu {
		height: 40px;
		width: auto;
		background-color: #EEE; 

		.listtrigger {
			float: right; 
		}
	}

	.code {
		position: absolute;
		bottom: 0px;
		top: 80px;
		left: 0px;
		right: 0px;
		background-color: #333; 
		height: auto;

	}
	
	section.filelist ul {
		color: #000;
		list-style-image: url($baseURL + 'bullet.png');
		overflow: auto;

	}
}