* {
  margin: 0px;
  padding: 0px; }

html {
  height: 100%;
  width: 100%; }

body {
  font-size: 16px;
  line-height: 20px;
  font-family: "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
  background-color: #5b5b5b;
  margin: 0;
  padding: 0;
  color: white;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1em;
  padding-right: 15px;
  padding-left: 15px; }

ul {
  padding-left: 40px; }

a img {
  border: none; }

a:link, a:visited {
  color: white;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

header {
  background-color: #404040;
  height: 40px; }
  header #navlist {
    float: right;
    margin: 0 0 0 15px; }
    header #navlist li {
      float: left;
      list-style-type: none;
      height: 40px; }
      header #navlist li a {
        display: inline-block;
        color: #FFF;
        padding: 10px;
        text-decoration: none; }
        header #navlist li a:hover {
          background-color: #141529; }
  header > * {
    margin: 10px; }
  header p#user {
    float: left; }
    header p#user a {
      color: white; }
  header p.flash {
    float: left; }

.content {
  background-color: #404040;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 20px;
  right: 20px;
  padding: 20px;
  overflow-y: scroll; }

footer {
  width: 100%;
  background-color: #161915;
  position: fixed;
  height: 40px;
  padding: 0;
  bottom: 0; }
  footer .legal {
    margin: 5px 0px 0px 5px;
    float: left; }
  footer #console {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #000;
    float: right;
    position: absolute;
    right: 0px; }
    footer #console #closeTrigger {
      display: none;
      width: 40px;
      height: 21px; }
    footer #console .prompt {
      width: 40px;
      float: left;
      height: 200px;
      position: absolute;
      bottom: 0px; }
      footer #console .prompt pre {
        position: absolute;
        bottom: 0px;
        width: 25px;
        padding-left: 15px;
        height: 40px;
        margin: 0px;
        line-height: 40px; }
    footer #console .output {
      height: 179px;
      position: absolute;
      bottom: 21px;
      left: 40px;
      padding-left: 20px;
      overflow: scroll; }
      footer #console .output .successMessage {
        color: #76b82a; }
      footer #console .output .errorMessage {
        color: red; }
      footer #console .output .outputMessage {
        color: white; }
    footer #console .cmd {
      height: 21px;
      position: absolute;
      left: 40px;
      bottom: 0px;
      right: 0px; }
      footer #console .cmd input {
        position: absolute;
        display: block;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: #000;
        outline: none;
        color: #FFF; }

#codingsohard {
  background-color: #AAA;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }
  #codingsohard nav {
    height: 40px;
    width: 100%;
    background-color: #FFF; }
    #codingsohard nav a {
      display: block;
      width: auto;
      height: 20px;
      max-width: 200px;
      background-color: #CCC;
      float: left;
      padding: 10px;
      text-decoration: none;
      color: #000; }
      #codingsohard nav a:hover, #codingsohard nav a:focus, #codingsohard nav a.active {
        background-color: #FFF; }
  #codingsohard .files {
    position: absolute;
    height: 100%;
    bottom: 0px;
    top: 0px;
    left: 100%;
    right: 0px;
    width: 250px;
    margin-top: 80px;
    background-color: #AAA; }
  #codingsohard .menu {
    height: 40px;
    width: auto;
    background-color: #EEE; }
    #codingsohard .menu .listtrigger {
      float: right; }
  #codingsohard .code {
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 0px;
    right: 0px;
    background-color: #333;
    height: auto; }
  #codingsohard section.filelist ul {
    color: #000;
    list-style-image: url("/PythonCheck/static/images/bullet.png"); }
