/* header */
/* footer */
/*
MIXINS
*/
* {
  margin: 0px;
  padding: 0px; }

html {
  height: 100%;
  width: 100%; }

body {
  font-size: 16px;
  font-family: "MyriadPro-Regular", "Myriad Pro", Verdana, Arial, Helvetica, sans-serif;
  background: #5b5b5b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #5b5b5b 0%, #707070 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b5b5b), color-stop(100%, #707070));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #5b5b5b 0%, #707070 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #5b5b5b 0%, #707070 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #5b5b5b 0%, #707070 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #5b5b5b 0%, #707070 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to,GradientType=0 );
  /* IE6-9 */
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  margin: 0;
  padding: 0;
  color: white;
  height: 100%; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1em;
  padding-right: 15px;
  padding-left: 15px; }

h1, h2 {
  margin-bottom: 2em; }

h2 {
  font-size: 2em; }

ul {
  padding-left: 40px; }

a img {
  border: none; }

table td, .content form.inlineform td, .content *.replace.table td {
  padding: 5px; }
table td.ellipsis, .content form.inlineform td.ellipsis, .content *.replace.table td.ellipsis {
  white-space: nowrap;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis; }

a:link, a:visited {
  color: white;
  text-decoration: none; }

a:hover, a:active, a:focus {
  text-decoration: underline; }

a.inactive {
  color: #cccccc; }

header {
  background-color: #404040;
  height: 40px; }
  header #brand {
    margin: 0px;
    float: left;
    display: block;
    font-size: 1.1em;
    color: #888888;
    padding: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-decoration: none; }
    header #brand:hover {
      color: #FFF; }
  header #navlist {
    float: right;
    margin: 0 0 0 15px; }
    header #navlist li {
      float: left;
      list-style-type: none;
      height: 40px; }
      header #navlist li a {
        display: inline-block;
        color: #FFF;
        padding: 10px;
        text-decoration: none; }
        header #navlist li a:hover {
          background-color: #141529; }
  header > * {
    margin: 10px; }
  header p#user {
    float: left; }
    header p#user a {
      color: white; }
  header p.flash {
    float: left; }

.content {
  background-color: #404040;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  top: 70px;
  bottom: 70px;
  left: 30px;
  right: 30px;
  padding: 20px;
  overflow-y: auto;
  /* breadcrumb */
  /* for items placed after action-buttons, such as tables after an 'Add' button */ }
  .content h2:first-child ~ nav,
  .content nav.actions {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-bottom: 1px solid #505050;
    background-color: #5b5b5b;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .content h2:first-child ~ nav a,
    .content nav.actions a {
      display: inline-block; }
  .content nav.actions {
    width: 80%; }
  .content #showcase {
    width: 100%;
    height: 100%; }
    .content #showcase .col {
      margin-left: 6%;
      margin-right: 6%;
      width: 20%;
      float: left;
      height: 100%; }
      .content #showcase .col .imagewrap {
        overflow: hidden;
        width: 100%;
        height: 100px;
        margin: 0px auto;
        background-color: #000;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px; }
      .content #showcase .col h4 {
        margin-top: 20px;
        margin-bottom: 20px; }
  .content h2 {
    text-align: center;
    font-weight: normal; }
  .content form table, .content form.inlineform table, .content form form.inlineform, .content form.inlineform form.inlineform, .content form *.replace.table, .content form.inlineform *.replace.table {
    margin: 0px auto;
    width: auto; }
    .content form table tr td, .content form.inlineform table tr td, .content form form.inlineform tr td, .content form.inlineform form.inlineform tr td, .content form *.replace.table tr td, .content form.inlineform *.replace.table tr td {
      padding: 5px; }
      .content form table tr td:first-child, .content form.inlineform table tr td:first-child, .content form form.inlineform tr td:first-child, .content form.inlineform form.inlineform tr td:first-child, .content form *.replace.table tr td:first-child, .content form.inlineform *.replace.table tr td:first-child {
        padding-right: 20px; }
      .content form table tr td div.error_wrapper, .content form.inlineform table tr td div.error_wrapper, .content form form.inlineform tr td div.error_wrapper, .content form.inlineform form.inlineform tr td div.error_wrapper, .content form *.replace.table tr td div.error_wrapper, .content form.inlineform *.replace.table tr td div.error_wrapper {
        position: relative;
        left: 220px;
        top: -20px;
        height: 0px; }
    .content form table td.w2p_fc, .content form.inlineform table td.w2p_fc, .content form form.inlineform td.w2p_fc, .content form.inlineform form.inlineform td.w2p_fc, .content form *.replace.table td.w2p_fc, .content form.inlineform *.replace.table td.w2p_fc {
      display: none; }
  .content form input, .content form.inlineform input {
    padding: 4px; }
  .content form input[type='text'], .content form.inlineform input[type='text'],
  .content form input[type='password'],
  .content form.inlineform input[type='password'],
  .content form input[type='email'],
  .content form.inlineform input[type='email'],
  .content form textarea,
  .content form.inlineform textarea {
    width: 200px;
    border: 1px solid;
    outline: none; }
    .content form input[type='text']:focus, .content form.inlineform input[type='text']:focus,
    .content form input[type='password']:focus,
    .content form.inlineform input[type='password']:focus,
    .content form input[type='email']:focus,
    .content form.inlineform input[type='email']:focus,
    .content form textarea:focus,
    .content form.inlineform textarea:focus {
      outline-style: auto;
      outline-color: #76b82a;
      outline-width: 5px; }
    .content form input[type='text'].invalidinput, .content form.inlineform input[type='text'].invalidinput,
    .content form input[type='password'].invalidinput,
    .content form.inlineform input[type='password'].invalidinput,
    .content form input[type='email'].invalidinput,
    .content form.inlineform input[type='email'].invalidinput,
    .content form textarea.invalidinput,
    .content form.inlineform textarea.invalidinput {
      outline-style: auto;
      outline-color: red;
      outline-width: 5px; }
  .content form textarea, .content form.inlineform textarea {
    width: 300px;
    padding: 2px; }
  .content table, .content form.inlineform, .content *.replace.table {
    margin-bottom: 20px;
    border-collapse: collapse;
    border-spacing: 0px;
    border: none;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }
    .content table thead, .content form.inlineform thead, .content *.replace.table thead {
      background-color: #505050; }
      .content table thead th, .content form.inlineform thead th, .content *.replace.table thead th {
        padding: 5px; }
    .content table tbody ~ tbody, .content form.inlineform tbody ~ tbody, .content *.replace.table tbody ~ tbody {
      border-top-width: 1px;
      border-top-style: solid;
      border-top-color: #FFF; }
    .content table tbody td:last-child, .content form.inlineform tbody td:last-child, .content *.replace.table tbody td:last-child {
      text-align: right; }
    .content table.inlinetable, .content form.inlinetable.inlineform, .content .inlinetable.replace.table {
      margin-left: 0px;
      margin-right: 0px;
      width: auto; }
  .content form.inlineform, .content form.inlineform {
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #505050;
    padding: 10px; }
  .content section {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #505050;
    margin-bottom: 10px; }
    .content section#main {
      border-bottom: none; }
    .content section:last-child {
      border-bottom: none; }
  .content input[type="submit"],
  .content a.button {
    background-color: #404040;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    padding: 5px;
    margin: 5px;
    font-size: 13px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    .content input[type="submit"].inactive,
    .content a.button.inactive {
      color: #999;
      border-color: #999; }
  .content a.button ~ table, .content a.button ~ form.inlineform, .content a.button ~ *.replace.table {
    margin-top: 20px; }
  .content *.replace {
    /* for elements replacing emtpy tables */ }

footer {
  width: 100%;
  background-color: #404040;
  position: fixed;
  height: 40px;
  padding: 0;
  bottom: 0; }
  footer .legal,
  footer nav.footerLinks {
    margin: 10px 0px 0px 5px;
    float: left;
    font-size: .9em;
    color: #aaaaaa; }
  footer a, footer a:link, footer a:visited {
    color: #aaaaaa;
    padding-right: 20px; }
  footer a:hover, footer a:active, footer a:focus {
    color: white;
    text-decoration: none; }
  footer #console {
    overflow: hidden;
    width: 40px;
    height: 40px;
    background-color: #000;
    float: right;
    position: absolute;
    right: 0px; }
    footer #console #closeTrigger {
      display: none;
      margin-left: auto;
      margin-right: auto;
      padding: 0px;
      margin-top: 10px; }
    footer #console .prompt {
      width: 40px;
      float: left;
      height: 200px;
      position: absolute;
      bottom: 0px; }
      footer #console .prompt pre {
        position: absolute;
        bottom: 0px;
        width: 25px;
        padding-left: 15px;
        height: 40px;
        margin: 0px;
        line-height: 40px; }
    footer #console .output {
      height: 160px;
      position: absolute;
      bottom: 40px;
      left: 40px;
      right: 0px;
      padding-left: 20px;
      overflow: auto;
      font-family: 'Courier New', monospace; }
      footer #console .output .successMessage {
        color: #76b82a; }
      footer #console .output .errorMessage {
        color: red; }
      footer #console .output .outputMessage {
        color: white; }
    footer #console .cmd {
      height: 40px;
      position: absolute;
      left: 40px;
      bottom: 0px;
      right: 0px; }
      footer #console .cmd input {
        font-family: 'Courier New', monospace;
        border: none;
        position: absolute;
        display: block;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-color: #000;
        outline: none;
        color: #FFF;
        height: 100%; }

#codingsohard {
  background-color: #AAA;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden; }
  #codingsohard nav {
    height: 40px;
    width: 100%;
    background-color: #FFF; }
    #codingsohard nav.tabs a {
      background-color: #CCC; }
    #codingsohard nav a {
      display: block;
      width: auto;
      height: 20px;
      max-width: 200px;
      background-color: #FFF;
      float: left;
      padding: 10px;
      text-decoration: none;
      color: #000;
      cursor: default; }
      #codingsohard nav a.active {
        background-color: #FFF; }
      #codingsohard nav a.inactive {
        color: #CCC; }
      #codingsohard nav a img.loading {
        padding-left: 5px;
        position: relative;
        top: 2px; }
      #codingsohard nav a .close {
        display: inline-block;
        background-image: url("/PythonCheck/static/images/icons/close.png");
        width: 14px;
        height: 14px;
        margin-left: 4px;
        position: relative;
        top: 2px; }
  #codingsohard .files {
    position: absolute;
    height: 100%;
    bottom: 0px;
    top: 0px;
    left: 100%;
    right: 0px;
    width: 250px;
    margin-top: 80px;
    background-color: #AAA; }
    #codingsohard .files a {
      cursor: default;
      display: block; }
  #codingsohard .menu {
    height: 40px;
    width: auto;
    background-color: #EEE; }
    #codingsohard .menu .listtrigger {
      float: right; }
  #codingsohard .code {
    position: absolute;
    bottom: 0px;
    top: 80px;
    left: 0px;
    right: 0px;
    background-color: #333;
    height: auto; }
  #codingsohard section.filelist ul {
    color: #000;
    list-style-image: url("/PythonCheck/static/images/bullet.png");
    overflow: auto; }
