{{extend 'layout.html'}}
<h2>{{=T('About')}}</h2>
	<h3>{{=T('Responsible for this website')}}:</h3>
	<p>
		Tobias G. Primus<br />
		Rennweg 89B<br />
		{{=T('Austria, 1030 Vienna')}}<br />
		{{=T('Phone')}}: +43 699 18186414<br />
		{{=T('Email')}}: pythoncheck@icloud.com
	</p>
	
	<h3>{{=T('Legal issues')}}:</h3>
	<p>
		Tobias G. Primus<br />
		Email: pythoncheck@icloud.com
	</p>
	
	<p>{{=T('This platform was developed as part of project management education at HTL Rennweg.')}}</p>
	<a href="www.haftungsausschluss.org/haftungsausschluss">{{=T('Disclaimer')}}</a>
	<p>{{=T('Last updated on')}}: 01/14/2013 11:00 GMT +02:00</p>