{{ extend 'layout.html' }}

<h2>{{=T('Courses')}}</h2>
<section>
	{{ if has_role('teacher'): }}
		<h3>{{=T('Create New Course')}}</h3>
		{{
		new_form.add_class('inlineform')
		}}
		{{=new_form}}
	{{ pass }}
</section>

<section>
	{{ if has_role('teacher'): }}
		<h3>{{=T('Existing Courses')}}</h3>
	{{ elif has_role('student'): }}
		<h3>{{=T('My Courses')}}</h3>
	{{ pass }}

	{{ if len(course_list_rows) > 0: }}
		<table>
			<thead>
				<tr>
					<th>{{=T('Name')}}</th>
					<th>{{=T('Teacher')}}</th>
				</tr>
			</thead>
			<tbody>
			{{ for row in course_list_rows: }}
				{{ 
				if 'course' in row:
					row = row['course']
				pass
				}}
				<tr>
					<td>
					{{ if row.teacher == auth.user.id: }}
						<a href="/{{=request.application}}/{{=request.controller}}/edit/{{=row.id}}">{{=row.name}}</a>
					{{ elif has_role('student') and has_role('teacher') != True or has_role('admin'): }}
						<a href="/{{=request.application}}/{{=request.controller}}/view/{{=row.id}}">{{=row.name}}</a>
					{{ else: }}
						{{=row.name}}
					{{ pass }}
					</td>
					<td>{{=row.teacher.last_name}}, {{=row.teacher.first_name}}</td>
				</tr>
			{{ pass }}
			</tbody>
		</table>
	{{ else: }}
		<em>No Courses!</em>
	{{ pass }}
</section>